@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");

:root {
  --background-color: #222831;
  --primary-color: #00adb5;
  --secondary-color: #393e46;
  --font-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  color: var(--font-color);
}
body {
  /*background-color: var(--background-color);*/
  background: radial-gradient(circle, #00adb5 -50%, #222831 100%);
  overflow: hidden;
  overflow-y: scroll;
}

/**********************NAVBAR********************/

.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid var(--primary-color);
}
.navbar h1 {
  color: var(--primary-color);
}
.navbar .links {
  margin-left: auto;
}
.navbar .links a {
  font-size: 1.2rem;
  text-decoration: none;
  margin-left: 20px;
  padding: 6px;
  color: var(--font-color);
}
.navbar .links a:hover {
  color: var(--primary-color);
}

.navbar .links .newBlog:hover {
  border-radius: 25% 10%;
  background-color: var(--primary-color);
  color: var(--font-color);
}

.content {
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
}

/***********BlogList********************/

.blogList {
  width: 100%;
}
.blog {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
}
.link {
  text-decoration: none;
}
.blog h2 {
  color: var(--primary-color);
}
.blog:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.delete-button {
  color: var(--font-color);
  background-color: var(--primary-color);
  padding: 3px;
  display: none;
}

.blog:hover .delete-button {
  display: block;
}

/******************FORM*****************************/
#textField {
  margin-bottom: 10px;
}
#contentField {
  margin-bottom: 10px;
}
#authorField {
  margin-bottom: 10px;
}

#addBlogButton {
  display: flex;
  align-items: center;
}

/***********BlogDetails********************/

.blogDetails article div {
  margin: 20px auto;
}
.blogDetails article h2 {
  margin: 5px auto;
  color: var(--primary-color);
}
.divCenter {
  display: flex;
  justify-content: center;
}

#blogCard {
  margin-bottom: 20px;
}
